.welcome {
  @apply flex flex-col items-start justify-between gap-[30px] md:gap-10 2xl:gap-[50px];
}
.welcomeDiv {
  @apply flex flex-col items-start gap-[10px] 2xl:gap-[40px] max-w-[533px];
}
.welcomeH1 {
  @apply flex flex-col items-start gap-5 font-bold text-[30px] md:text-4xl 2xl:text-5xl text-white leading-[150%];
}
.welcomeP {
  @apply text-grey-60 text-[14px] md:text-base 2xl:text-lg font-light leading-[150%];
}

/*  */

.welcomeImg {
  @apply relative w-[357px] md:w-[429px] 2xl:w-[533px] h-[344px] md:h-[380px] 2xl:h-[477px] rounded-lg overflow-hidden border-[6px] bg-black-06 border-solid border-black-15 flex items-center justify-center;
}
.welcomeImgDiv {
  @apply absolute min-w-[449px] 2xl:min-w-[601px] min-h-[547px] 2xl:min-h-[733px] top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 grid grid-cols-4 grid-rows-4 gap-5;
}

.supportImg {
  @apply min-w-[98px] 2xl:min-w-[135px] min-h-[122px] 2xl:min-h-[168px] object-cover rounded-xl;
  animation: imgAnimate 3s ease-in-out infinite;
}
.supportImg_1 {
  animation-delay: 0s;
}
.supportImg_2 {
  animation-delay: 0.3s;
}
.supportImg_3 {
  animation-delay: 0.6s;
}
.supportImg_4 {
  animation-delay: 0.7s;
}
.supportImg_5 {
  animation-delay: 1s;
}
@keyframes imgAnimate {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-2px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}
