.devicesSection {
  @apply w-full flex flex-col gap-10 md:gap-14 2xl:gap-20;
}
.devicesMain {
  @apply w-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5 2xl:gap-[30px];
}
/*  */
.deviceTitleArticle {
  @apply flex flex-col gap-[10px] 2xl:gap-[14px];
}
.deviceTitleH2 {
  @apply text-white font-bold text-xl md:text-2xl 2xl:text-4xl;
}
.deviceTitleP {
  @apply text-grey-60 font-light text-sm md:text-base 2xl:text-lg;
}
/*  */
.deviceCardArticle {
  @apply relative w-full bg-black-06 flex flex-col gap-5 md:gap-6 2xl:gap-[30px] p-6 md:p-10 2xl:p-12 rounded-lg 2xl:rounded-xl border border-solid border-black-15;
}
.deviceCardBg {
  @apply bg-white w-full h-full absolute top-0 left-0 z-10 pointer-events-none rounded-xl;
  background: rgb(0, 0, 0);
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 55%, rgba(229, 0, 0, 0.1453958292301295) 100%);
  opacity: 0.5;
}
.deviceCardIconSpan {
  @apply inline-block w-[44px] h-[44px] md:w-[54px] md:h-[54px] 2xl:w-[72px] 2xl:h-[72px] rounded-lg 2xl:rounded-xl p-[10px] md:p-3 2xl:p-4 bg-black-08 border border-solid border-black-12;
}
.deviceCardIcon {
  @apply text-red-45 w-6 h-6 md:w-[30px] md:h-[30px] 2xl:w-[40px] 2xl:h-[40px];
}
.deviceCardH4 {
  @apply text-white text-lg md:text-xl 2xl:text-2xl font-semibold;
}
.deviceCardP {
  @apply text-grey-60 font-light text-sm md:text-base 2xl:text-lg;
}
